<section data-ng-controller="TournamentsController" data-ng-init="find()">
<div class="pWrapper container">
	<div class="topContent">
		<div class="carusel">
			

		</div>
		<div class="slider">
			<div ng-repeat="tour in tournaments | orderBy:tournamentCreated" | limitTo:"2" class="tour-repeat col-md-4 panel-sm">
				<p class="tour-repeat">{{tour.name}}</p></a>
				<img ng-src="{{tour.tournamentthumb}}" alt="">
			</div>/
		</div>
		
	</div>
	<div class="tourlist">
	                  <div ng-repeat="tour in tournaments | orderBy:tournamentCreated" class="tour-repeat col-md-4 panel-sm"><a href="#!/tournaments/{{tour._id}}" class="thumb"><img ng-src="{{tour.tournamentthumb}}" class="tournament img-rounded"/></a><a href="#!/tournaments/{{tour._id}}">
                      <p class="thumbText"></p>
                      <p class="tour-repeat">{{tour.name}}</p></a>
                      </div>
		
	</div>

</div>

</section>
