<div class="container" ng-model="newTournament">

  <div class="row">
    <div class="tournamentsWrapper">


		<div id="tour-form" class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<form novalidate>
					<div class="form-group">

						<!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
						<input type="text" class="form-control input-lg text-center" placeholder="streamlink" ng-model="newTournament.streamLink">
            <input type="text" class="form-control input-lg text-center" placeholder="name" ng-model="newTournament.name">
            <textarea rows="4" class="form-control input-lg text-center" placeholder="description" ng-model="newTournament.description"></textarea>

					</div>

					<!-- createToDo() WILL CREATE NEW TODOS -->
					<button type="submit" class="btn btn-primary btn-lg" ng-click="addTournament(newTournament)">Add</button>
				</form>
			</div>
		</div>

	</div>
</div>
  </div>
</div>
