<div class="pWrapper container-fluid">
  <div class="mainContent container-fluid">
    <div class="contestLarge row">
      <div class="tournament-listing panel-body thumbWrap col-md-12">
        <div ng-repeat="tourL in tournaments | orderBy:important | limitTo:2" class="thumb col-md-6">
          <a href="#/tournaments/{{tourL.tournamentId}}" class="thumb"><img class="tournament" ng-src="{{tourL.tournamentthumb}}"></a>
        </div>

      </div>
    </div>
    <div class="contestSmall row-fluid">
      <table class="table thumbnail tournament-listing">
        <tbody>
         <tr class="col-md-4" ng-repeat="tour in tournaments | orderBy:tournamentCreated">
           <td>
            <a href="#/tournaments/{{tour.tournamentId}}" class="thumb"><img class="tournament" ng-src="{{tour.tournamentthumb}}"></a>
            <a href="#/tournaments/{{tour.tournamentId}}"><p class="thumbText">
            {{tour.name}}
              </p>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!--
  har försökt designa nyhetsflödet för att se bra ut när man loopar igenom flera nyheter
  !-->
  <div class="news row-fluid">
    <div class="newsWrapper panel panel-default">
      <table ng-repeat="news in news" class="newsLoop table">
        <thead>
          <div class="newsHeader panel-heading row">
            <div class="panel-title col-md-10">
              <p>
                {{news.title}}
              </p>
            </div>
            <div class="hashtags panel-title col-md-2">
              <p >
                {{news.hashtags}}
              </p>
            </div>
          </div>

        </thead>
        <tbody class="newsBody panel-body">
          <tr>
            <div class="newsContent">
              <p>
                {{news.mainContent}}
              </p>

            </div>

          </tr>

        </tbody>

      </table>

    </div>
  </div>
﻿</div>
