<div ﻿ng-model="tournament" class="container">

  <div class="row">
    <div class="tournamentsWrapper col-sm-11 col-md-11">
      <ol class="breadcrumb">
        <li><a href="#/tournaments/#">Home</a></li>
        <li class="active">{{tournament.name}}</li>
      </ol>
      <div class="pageHeader row">
        <div class="headerImage well col-md-12">
          <img class="thumb col-md-12" ng-src="{{tournament.tournamentHeaderImage}}">
        </div>
        <div class="tournamentDescription col-md-12 panel">
          <h3>{{tournament.name}}</h3>

          <div class="tHeader container fluid">
            <div class="tContent col-md-12">
              <div class="col-md-8">
                <p>{{tournament.description}}</p>
              </div>
              <div class="tImportant  col-md-4">

                <div class="importantInfo well well-sm">
                  <h4>Important info:</h4>
                  <p>Game: {{tournament.game}}</p>
                  <p>Genre: {{tournament.genre}}</p>
                  <p>StartTime: {{tournament.tournamentStartTime  | date: 'yyyy-MM-dd HH:mm'}}</p>
                  <p>Registrations open: {{tournament.registrationStartTime | date: 'yyyy-MM-dd HH:mm'}}</p>
                  <p>Registrations close: {{tournament.registrationEndTime  | date: 'yyyy-MM-dd HH:mm'}}</p>

                </div>

                <div class="tRuleCont well well-sm">
                  <h4>rules:</h4>
                  <div ng-repeat="rule in tournament.rules">

                    <dt>{{rule.Key}}</dt>
                    <dd ng-repeat="ruleValue in rule.value">{{ruleValue}}</dd>
                  </div>
                </div>
                <div class="tStream">

                  <a href="{{tournament.streamLink}}"><button type="button" class="btn btn-block btn-info">Stream Link</button></a></li>

                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="tJoin row">
          <div class="col-md-4">
          </div>
          <div class="col-md-4">
            <a href="#/tournaments/{{tournament.tournamentId}}/createteam"><button type="button" class="btn btn-block btn-success">Create a team <br> and join the tournament!</button></a>
          </div>
        </div>
        <div class="tTeams tournament-listing panel container">
          <h3>Participating teams</h3>
          <div class="teamWrapper panel row">


            <div ng-repeat="team in tournament.teams" class="col-md-3">
              <div class="tTeamContainer container well">
                <div class="row">
                  <div class="teamImage container col-md-10">
                    <img ng-src="{{team.teamLogoUrl}}"  class="tTeamContainer img-thumbnail"><img>
                    <div class="teamTitle col-md-10">
                      <a href="#/teams/{{team.id}}"><button class="btn btn-block btn-success">{{team.name}}</button></a></h3></a>
                    </div>
                  </div>
                  <div class="teamCount col-md-2">
                    <span class="label label-success">{{team.members.length}}/5</span>
                  </div>
                </div>






              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>








<!-- <ul>
<li ng-repeat="team in tournament.teams">
<img ng-src="{{team.teamLogoUrl}}" height="80px" width="400px"><img>
<h3>{{team.name}}</h3>
<a href="#/teams/{{team.id}}" class="thumb"><img ng-src="{{team.teamLogoUrl}" height="80px" width="400px"></a>
<a href="#/teams/{{team.id}}">{{team.name}}

<div class="nav panel panel-sm">
<h3>ActionPanel</h3>
<a href="#/tournaments/#}"><button type="button" class="btn btn-warning">back</button></a>
</div>

<table class="table thumbnail tournament-listing">
<tbody>
<tr class="col-md-3" ng-repeat="team in tournament.teams">
<div class="tTeamContainer container">

<td>
<div class="row">


<div class="teamImage container col-md-10">
<img ng-src="{{team.teamLogoUrl}}"  class="tTeamContainer img-thumbnail"><img>
<div class="teamTitle col-md-10">
<a href="#/teams/{{team.id}}"><button class="btn btn-block btn-success">{{team.name}}</button></a></h3></a>

</div>


</div>
<div class="teamCount col-md-2">
<span class="label label-success">{{team.members.length}}/5</span>
</div>
</div>





</td>
</div>

</tr>
</tbody>
</table>

</li>
</li>
</ul> -->
