<div class="pWrapper container">
  <div class="row">

    <div class="col-md-12">
      <div class="mainContent container-fluid" ng-model="tournaments">
        <div class="contestLarge row">
          <div class="tournament-listing panel-body thumbWrap col-md-12">
            <div ng-repeat="tourL in tournaments | orderBy:tourL.important | limitTo:2" class="thumb col-md-6">

              <a href="#/tournaments/{{tourL.tournamentId}}" class="thumb"><img class="tournament img-rounded" ng-src="{{tourL.tournamentthumb}}"></a>
              <h3 class="well well-sm">{{tourL.name}}</h3>
            </div>

          </div>
        </div>
        <div class="contestWrapper well container-fluid">
          <div class="contestSmall row">
            <div class="tournament-listing">

              <div class="tour-repeat col-md-4 panel-sm" ng-repeat="tour in tournaments | orderBy:tournamentCreated">

                <a href="#/tournaments/{{tour.tournamentId}}" class="thumb"><img class="tournament img-rounded" ng-src="{{tour.tournamentthumb}}"></a>
                <a href="#/tournaments/{{tour.tournamentId}}"><p class="thumbText">
                  <p class="tour-repeat">
                    {{tour.name}}
                  </p>

                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="news row-fluid" ng-model="newslist">
        <div class="newsWrapper">
          <div ng-repeat="newsitem in newslist" class="newsLoop">
            <div class="panel panel-success">
              <div class="panel-heading"><h5>News From The Front!</h5></div>
              <div class="panel-body">
                <div class="media">
                  <a class="pull-left" href="#">
                    <img class="media-object img-rounded tournament" ng-src="{{newsitem.articleThumb}}" alt="...">
                  </a>
                  <div class="media-body">
                    <h4 class="media-heading">{{newsitem.title}}</h4>
                    {{newsitem.mainContent}}
                  </div>

                </div>
                <div class="panel-footer">{{newsitem.hashtags}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--
        har försökt designa nyhetsflödet för att se bra ut när man loopar igenom flera nyheter
        !-->

      </div>
    </div>
  </div>
