html
  body
    .container.tournamentsWrapper(ng-model='newTournament')
      .row
        .col-md-9.well
          input.form-control.input-lg.text-center(type='text', placeholder='tournament thumb', ng-model='newTournament.tournamentthumb')
        .col-md-3
          .herebedragons
            button.btn.btn-default(ng-click='isCollapsed = !isCollapsed') Active tournaments
            hr
            div(collapse='!isCollapsed')
              .well
                .content(ng-repeat='tour in tournaments')
                  | {{tour.name}}
                  span.badge {{tour.genre}}
