doctype html
html(lang='en', ng-app='nTournamentApp')
  head
    meta(charset='utf-8')
    title nTournament App
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/Site.css')
    link(rel='stylesheet', href='/stylesheets/animations.css')
    script(src='/javascripts/jquery-1.10.2.min.js')
    script(src='/javascripts/linq.min.js')
    script(src='/javascripts/jquery.linq.min.js')
    script(src='/javascripts/angular.min.js')
    script(src='/javascripts/angular-animate.js')
    script(src='/javascripts/angular-route.min.js')
    script(src='/javascripts/ui-bootstrap-tpls-0.11.0.min.js')
    script(src='/javascripts/angular-resource.min.js')
    script(src='/app/client.js')
    script(src='/app/animations.js')
    script(src='/app/controllers.js')
    script(src='/app/services.js')

  body
    block navbar
    
    .view-container
      .view-frame(ng-view='')
