<div ﻿ng-model="tournament">
<img ng-src="{{tournament.tournamentHeaderImage}}">
<h2>{{tournament.name}}</h2>
<p>{{tournament.description}}</p>
<p>{{tournament.name}}</p>
<p>{{tournament.tournamentStartTime}}</p>
<p>{{tournament.registrationStartTime}}</p>
<p>{{tournament.registrationEndTime}}</p>
<p>Rules<p/>
<dl>
  <div ng-repeat="rule in tournament.rules">
  <dt>{{rule.Key}}</dt>
    <dd ng-repeat="ruleValue in rule.value">{{ruleValue}}</dd>
  </div>
</dl>
<p>Teams</p>
<ul>
  <li ng-repeat="team in tournament.teams">
    <img ng-src="{{team.teamLogoUrl}}" height="80px" width="400px"><img>
    <h3>{{team.name}}</h3>
    <a href="#/teams/{{team.id}}" class="thumb"><img ng-src="{{team.teamLogoUrl}" height="80px" width="400px"></a>
    <a href="#/teams/{{team.id}}">{{team.name}}</a>
</li>
  </li>
</ul>


<a href="#/tournaments/{{tournament.tournamentId}}/createteam">Create new team!</a>
<a href="{{tournament.streamLink}}">{{tournament.streamLink}}</a>
<a href="#/tournaments/#}">back</a>
</div>
﻿
