<div class="container">
    <div class="col-md-10">
        <ul class="tournaments">
            <li ng-repeat="tour in tournaments" class="thumbnail tournament-listing">
                <a href="#/tournaments/{{tour.tournamentId}}" class="thumb"><img ng-src="{{tour.tournamentthumb}}"></a>
                <a href="#/tournaments/{{tour.tournamentId}}">{{tour.name}}</a>
            </li>
        </ul>
        <button onclick="parent.location='#/createnewtournament'">Create new!</button>
    </div>
</div>
