body {
padding-top: 40px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/* app css stylesheet */

.tournament-images {
  background-color: white;
  size: 100%;
  overflow: hidden;
  position: relative;
  float: left;
}

.tournaments {
  list-style: none;

}



.tournaments li {
  clear: both;

}

/** Detail View **/
img.tournament {
  float: left;
  margin-right: 3em;
  margin-bottom: 2em;
  background-color: white;
  padding: 1em;
  height: 100%;
  width: 100%;
  display: none;
}

img.tournament:first-child {
  display: inline;
}


ul.tournament-thumbs {
  margin: 0;
  list-style: none;
}

ul.tournament-thumbs li {
  border: 1px solid black;
  display: inline-block;
  margin: 1em;
  background-color: blue;
}

ul.tournament-thumbs img {
  padding: 1em;
}

ul.tournament-thumbs img:hover {
  cursor: pointer;
}


ul.specs {
  clear: both;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.specs > li{
  display: inline-block;
  width: 200px;
  vertical-align: top;
}

ul.specs > li > span{
  font-weight: bold;
  font-size: 1.2em;
}

ul.specs dt {
  font-weight: bold;
}

h1 {
  border-bottom: 1px solid gray;
}
.pWrapper{

position: absolute;
width: 80%;
height: 90%;
display: inline-block;
left: 10%;
top: 0;

}
.mainContent{
  background-color: steelblue;
}

p.thumbText{
  text-align: center;
  z-index:+1;

}
.contestLarge{
  margin:10px;

}
.thumbWrap{
}
.panel-title > p{
  font-size: 1.5em;
}
.news{

}
