html
  body
    .container(ng-model="tournament")
      .row
        .tournamentsWrapper.col-sm-11.col-md-11
          ol.breadcrumb
            li
              a(href='#/tournaments/#') Home
            li.active {{tournament.name}}
          .pageHeader.row
            .headerImage.well.col-md-12
              img.thumb.col-md-12(ng-src='{{tournament.tournamentHeaderImage}}')
            .tournamentDescription.col-md-12.panel
              h3 {{tournament.name}}
              .tHeader.container.fluid
                .tContent.col-md-12
                  .col-md-8
                    p {{tournament.description}}
                  .tImportant.col-md-4
                    .importantInfo.well.well-sm
                      h4 Important info:
                      p Game: {{tournament.game}}
                      p Genre: {{tournament.genre}}
                      p StartTime: {{tournament.tournamentStartTime  | date: &apos;yyyy-MM-dd HH:mm&apos;}}
                      p
                        | Registrations open: {{tournament.registrationStartTime | date: &apos;yyyy-MM-dd HH:mm&apos;}}
                      p
                        | Registrations close: {{tournament.registrationEndTime  | date: &apos;yyyy-MM-dd HH:mm&apos;}}
                    .tRuleCont.well.well-sm
                      h4 rules:
                      div(ng-repeat='rule in tournament.rules')
                        dt {{rule.Key}}
                        dd(ng-repeat='ruleValue in rule.value') {{ruleValue}}
                    .tStream
                      a(href='{{tournament.streamLink}}')
                        button.btn.btn-block.btn-info(type='button') Stream Link
            .tJoin.row
              .col-md-4
              .col-md-4
                a(href='#/tournaments/{{tournament.tournamentId}}/createteam')
                  button.btn.btn-block.btn-success(type='button')
                    | Create a team
                    br
                    |  and join the tournament!
            .tTeams.tournament-listing.panel.container
              h3 Participating teams
              .teamWrapper.panel.row
                .col-md-3(ng-repeat='team in tournament.teams')
                  .tTeamContainer.container.well
                    .row
                      .teamImage.container.col-md-10
                        img.tTeamContainer.img-thumbnail(ng-src='{{team.teamLogoUrl}}')
                        img
                        .teamTitle.col-md-10
                          a(href='#/teams/{{team.id}}')
                            button.btn.btn-block.btn-success {{team.name}}
                      .teamCount.col-md-2
                        span.label.label-success {{team.members.length}}/5
