html
  body
    .pWrapper.container
      .row
        .col-md-12
          .mainContent.container-fluid(ng-model='tournaments')
            .contestLarge.row
              .tournament-listing.panel-body.thumbWrap.col-md-12
                .thumb.col-md-6(ng-repeat='tourL in tournaments | orderBy:tourL.important | limitTo:2')
                  a.thumb(href='#/tournaments/{{tourL.tournamentId}}')
                    img.tournament.img.img-thumbnail(ng-src='{{tourL.tournamentthumb}}')
                  h3.panel.contestLarge.panel-sm {{tourL.name}}

            .contestWrapper.well.container-fluid
              .contestSmall.row
                .tournament-listing
                  .tour-repeat.col-md-4.panel-sm(ng-repeat='tour in tournaments | orderBy:tournamentCreated')
                    a.thumb(href='#/tournaments/{{tour.tournamentId}}')
                      img.tournament.img-rounded(ng-src='{{tour.tournamentthumb}}')
                    a(href='#/tournaments/{{tour.tournamentId}}')
                      p.thumbText
                      p.tour-repeat
                        | {{tour.name}}
