<section data-ng-controller="TournamentsController" data-ng-init="findOne()">
  <div class="row">
    <div class="tournamentsWrapper col-sm-11 col-md-11">
      <ol class="breadcrumb">
        <li><a href="#!/tournaments">Home</a></li>
        <li class="active" data-ng-bind="tournament.name"></li>
      </ol>
      <div class="pageHeader row">
        <div class="headerImage well col-md-12">
        <img src="{{tournament.tournamentHeaderImage}}" alt="" class="img">
        </div>
        <div class="tournamentDescription col-md-12 panel">
          <h3>{{tournament.name}}</h3>
          <div class="tHeader container fluid">
            <div class="tContent col-md-12">
              <div class="col-md-8">
                <p>{{tournament.description}}</p>
              </div>
              <div class="tImportant col-md-4">
                <div class="importantInfo well well-sm">
                  <h4>Important info:</h4>
                  <p>Game: {{tournament.game}}</p>
                  <p>Genre: {{tournament.genre}}</p>
                  <p>StartTime: {{tournament.tournamentStartTime  | date: &apos;yyyy-MM-dd HH:mm&apos;}}</p>
                  <p>Registrations open: {{tournament.registrationStartTime | date: &apos;yyyy-MM-dd HH:mm&apos;}}</p>
                  <p>Registrations close: {{tournament.registrationEndTime  | date: &apos;yyyy-MM-dd HH:mm&apos;}}</p>
                </div>
                <div class="tRuleCont well well-sm">
                  <h4>rules:</h4>
                  <div ng-repeat="rule in tournament.rules">
                    <dt>{{rule.Key}}</dt>
                    <dd ng-repeat="ruleValue in rule.value">{{ruleValue}}</dd>
                  </div>
                </div>
                <div class="tStream"><a href="{{tournament.streamLink}}">
                  <button type="button" class="btn btn-block btn-info">Stream Link</button></a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="tJoin row">
            <div class="col-md-4"></div>
            <div class="col-md-4"><a href="#/tournaments/{{tournament.tournamentId}}/createteam">
              <button type="button" class="btn btn-block btn-success">Create a team<br/> and join the tournament!</button></a></div>
            </div>
            <div class="tTeams tournament-listing panel container">
              <h3>Participating teams</h3>
              <div class="teamWrapper panel row">
                <div ng-repeat="team in tournament.teams" class="col-md-3">
                  <div class="tTeamContainer container well">
                    <div class="row">
                      <div class="teamImage container col-md-10"><img ng-src="{{team.teamLogoUrl}}" class="tTeamContainer img-thumbnail"/><img/>
                        <div class="teamTitle col-md-10"><a href="#/teams/{{team.id}}">
                          <button class="btn btn-block btn-success">{{team.name}}</button></a></div>
                        </div>
                        <div class="teamCount col-md-2"><span class="label label-success">{{team.members.length}}/5</span></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a class="btn btn-primary" data-ng-click="remove();" data-ng-show="authentication.user._id == tournament.user._id">
            <i class="glyphicon glyphicon-trash"></i>
          </a>
        </div>
      </section>
